<header>Reviews for <%= link_to(@book.title, @book) %></header>
<ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= link_to(book.title, book) %>
      by <%= book.author %><br/>
      <%= format_average_stars(book) %>
      <% if book.reviews.any? %>
        (out of <%= pluralize(book.reviews.size, 'review') %>)
      <% end %>
  </li>
  <% end %>
</ol>
<%= link_to 'Write a Review', new_book_review_path(@book) %>